
{:paths ["source-code/cljc"]
 :deps  {bithandshake/cljc-time    {:git/url "https://github.com/bithandshake/cljc-time"
                                    :sha     "01af07e19c8e8b3080f8c5a81029ae9758e964c3"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         reagent/reagent           {:mvn/version "1.2.0"}}}
