
{:paths ["source-code/cljc"]
 :deps  {mt-utilities/cljc-time    {:git/url "https://github.com/mt-utilities/cljc-time"
                                    :sha     "13c937dbbbf946bddba03dbd48f182536d915dd4"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         reagent/reagent           {:mvn/version "1.2.0"}}}
