
{:paths ["source-code/cljc"]
 :deps  {bithandshake/cljc-time    {:git/url "https://github.com/bithandshake/cljc-time"
                                    :sha     "5992db207e37e554ab01ad97cbeecbf1621fd8ee"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         reagent/reagent           {:mvn/version "1.2.0"}}}
